doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title AllHeat Invoice
  link(rel='stylesheet' href='./reset.css')
  link(rel='stylesheet' href='./styles.scss')


div#printable
  div
    img.logo(src='./allheat cropped.png' alt='')

  - var info = [['Email:',	'allheatalex@gmail.com'],	['Web:',	'www.allheatmechanical.com'], ['Phone:',	'905 - 999 - 4546'], ['HST:',	'82432 8132 RT0001']]
  div.flex.wrap.mb-30
    each item in info
      div.flex.half-width.with-gap.mt-5
        each val in item
          p.half-width=val


  - var detail_inputs = ['Invoice #', 'Date', 'Name', 'Email', 'Address', 'Cell', 'Phone', 'Call Code', 'Account', 'PP']
  div.flex.wrap.mt-30
    each detail in detail_inputs
      div.flex.half-width.with-gap.mt-5
        p.half-width.ft-sz-19=detail + ':'
        p.half-width.ft-sz-19.content_editable(contenteditable='true')

  - var code_checks = ['Perform Maintenance as per CSA B139-ON-06', 'Perform Comprehensive Inspection as per TSSA Fuel Oil Code 0 Reg. 213/01 and CSA B139-ON-06', 'Perform Maintenance as per Gas Code CSA B149-05']
  div.mt-30
    each check in code_checks
      div.flex.border
        p.bg-color.pl-10.pt-10.pr-10.pb-10.half-width=check + ':'
        div.half-width.pt-10.pb-10.content_editable.flex.center
          input(type='checkbox')

  - var equipment_types = ['Gas', 'Oil', 'A/C']
  div.mt-30
    each equipment in equipment_types
      div.flex.border
        p.third-width.bg-color.pl-10.pt-10.pr-10.pb-10=equipment + ':'
        div.third-width.pt-10.pb-10.content_editable.flex.center
          input(type='checkbox')
        p.v-center.flex.third-width.content_editable(contenteditable='true')
          | Type:

  - var single_line_inputs = ['Safety', 'High Limit', 'C/O²', 'Pump Pressure', 'Smoke', 'Draft', 'Gas Pressure', 'C/O']
  div.mt-30.flex.wrap
    each inpt in single_line_inputs
      div.fourth-width.border.four-wide
        p.text-center.bg-color=inpt
        p.text-center.content_editable(contenteditable='true')
  div
    div.border.mt-10
      p.bg-color.text-center Serviceman's Report
      p.pr-10.pl-10.pb-10.pt-10.content_editable(contenteditable='true' style="min-height: 40px;")

  - var time_fields = ['Arrival Time', 'Finish Time', 'Total Hours', 'Rate']
  - var time_result_fields = ['Labour Fee', 'Sub Total', 'Hst', 'Total']
  div.mt-30
    div.border
      p.bg-color.text-center 
        | Parts     
        button.hide-print#add_part +
        button.hide-print#sub_part -
      div.bg-color.flex.pl-10
        p.third-width Quantity
        p.third-width Description
        p.third-width Amount
      ul.parts#part-list
        li.flex
          p 1.
          p.third-width.content_editable(contenteditable='true')
          p.third-width.content_editable(contenteditable='true')
          p.third-width.content_editable(contenteditable='true')
    div.flex.border
      div.half-width
        each field in time_fields
          div.flex
            p.bg-color.pl-10.half-width=field
            p.text-center.half-width.content_editable(contenteditable='true', id=field + '_input')
      div.half-width
        each field in time_result_fields
          div.flex
            p.bg-color.pl-10.half-width=field
            p.text-center.half-width.content_editable(contenteditable='true', id=field + '_result')

  div
    div.border.mt-30.flex
      p.bg-color.fourth-width.center.flex.text-center Paid By:
      div.full-width
        p.bg-color.text-center.pt-5.pb-5 Cheque / Cash / Other
        p.text-center.content_editable(contenteditable='true')

  div.mt-30
    div.border
      div.flex
        p.pl-10.bg-color.fourth-width Unsafe Conditions Exist:
        div.content_editable.fourth-width.flex.center
          input(type='checkbox')
        p.text-center.fourth-width.content_editable(contenteditable='true') [initial]
        p.text-center.fourth-width.content_editable(contenteditable='true') See Report: _____
      div.flex
        p.pl-10.bg-color.half-width Immediate Hazard:
        div.content_editable.half-width.flex.center
          input(type='checkbox')
      div.flex
        p.pl-10.bg-color.half-width Non-Immediate Hazard:
        div.content_editable.half-width.flex.center
          input(type='checkbox')      
    div.flex.border
      p.pl-10.bg-color.half-width Number of Days to Rectify Hazard:
      p.text-center.half-width.content_editable(contenteditable='true') 30 / 60 / 90

  div.mt-30
    div.border
      p.pl-10.bg-color.full-width Estimate of Work Needed: (Valid for 30 Days)
      p.pr-10.pl-10.pb-10.pt-10.full-width.content_editable(contenteditable='true' style="min-height: 40px;")

  div.mt-30
    p.half-width I agree with Quote and would like the work completed:
    div.flex.mt-10
      p.half-width Customer Signature:
      p.half-width(contenteditable='true' style="border-bottom: 1px solid black;")
    div.flex.mt-10
      p.half-width Serviceman Signature:
      div.alex_sig_container
        img.alex_sig.max-half-width(src="./Alex Signature.png")
    div.flex.mt-10
      p.half-width Quoted Price:
      p.half-width(contenteditable='true' style="border-bottom: 1px solid black;")
  button#download download
  script(src="./js.js")